<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.yisasin.springcloud.dao.PaymentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.yisasin.springcloud.entity.Payment">
        <id column="id" property="id" />
        <result column="serial" property="serial" />
        <result column="ctime" property="ctime" />
    </resultMap>
    <insert id="insert" parameterType="net.yisasin.springcloud.entity.Payment" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO payment(serial, ctime) VALUES(#{serial}, #{ctime})
    </insert>

    <select id="getById" resultMap="BaseResultMap">
        SELECT * FROM payment WHERE id = #{id}
    </select>

</mapper>
